<div class="container">
  <div class="row">
    <ul>

    <% @recipes.each do |recipe| %>
    <% if recipe.is_draft == false %>
      <li>
        <%= link_to recipe.title, recipe %>
        <%= recipe.created_at %>
      </li>
      <p><%= link_to "#{recipe.post_comments.count} コメント", recipe_path(recipe.id) %></p>
      <%#= link_to "編集",edit_recipe_path(recipe) %>
      <%#= link_to "削除",recipe, method: :delete %>
    <% end %>
    <% end %>
    </ul>
  </div>
</div>