<div class="container">
  <div class="row mt-3">
    <h1 class="mx-auto">タグ一覧</h1>
    <h5><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-secondary" %></h5>
  </div>
  <div class="row mt-3">
    <div class="col-6">
      <% @tags.each do |tag| %>
        <table class="table">
          <tr>
            <td><%= tag.name %></td>
            <td><%= link_to "削除", tag_path(tag), method: :delete %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>