<div class="container">
  <div class="row" style="margin-top:200px;">
    <div class="col-6">
      <div>
        <%= image_tag 'o1080088614282290314.jpg', width: '50%', height: '50%' %>
      </div>
    </div>
    <div class="col-6">

    </div>
  </div>
</div>