<div class="error_message">
  <% if error.errors.any? %>
  <div id="error_explanation">
    <h2><%= t("errors.template.header", model: User.model_name.human, count: error.errors.count) %></h2>
    <ul>
    <% error.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
</div>